<extend name="Layout:index" />
<block name="pCss">
<link rel="stylesheet" href="__COMPONENTS__bootstrap-table/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="__COMPONENTS__bootstrap-table/dist/extensions/tree-column/bootstrap-table-tree-column.css">
<style type="text/css">
	.status span{cursor: pointer;}
</style>
</block>
<block name="content">
<!-- S -->

<div class="widget-container-col" id="widget-container-col-11">
	<div class="widget-box widget-color-blue2" id="widget-box-content">
		<div class="widget-header">
			<h6 class="widget-title">
				<i class="menu-icon fa fa-list"></i>&ensp;<{$_page_title}>

			</h6>
			<div class="widget-toolbar">

				<a href="javascript:void(0);" class="href-url" title="返回列表" onclick='location.href="<{:U('index')}>"' data-action="settings">
					<i class="ace-icon fa fa-reply"></i>
				</a>

				<a href="javascript:void(0);" class="href-url" title="新增" onclick='location.href="<{:U('add')}>"' data-action="settings">
					<i class="ace-icon fa fa-plus"></i>
				</a>

				<a href="javascript:void(0);" class="href-url" title="修改" onclick='location.href="<{:U('edit',array('id'=>$data['id']))}>"' data-action="settings">
					<i class="ace-icon fa fa-pencil"></i>
				</a>

				<a href="#" data-action="fullscreen" class="orange2">
					<i class="ace-icon fa fa-expand"></i>
				</a>
			</div>
		</div>

		<div class="widget-body">
			<!-- #section:custom/scrollbar -->
			<div class="widget-main no-padding scrollable" data-size="125">
				<!-- 表单 开始 -->
				<table id="data-table" class="table table-bordered table-hover">
					<tr>
						<th>用户名称</th>
						<td><a href="<{:U('Admin/info', array('id'=>$data['admin_id']))}>"><{$data.admin_id|getAdminUser=1}></a></td>
						<th>考勤月份</th><td><{$data.thismonth|strtotime|date='Y年m月',###}></td>
					</tr>
					<tr>
						<th>计薪天数</th><td><{$data.paiddays}></td>
						<th>出勤天数</th><td><{$data.ycqts}></td>
					</tr>
					<tr>
						<th>节 假 日</th><td><{$data.holidays}></td>
						<th>带薪假期</th><td><{$data.paid_holidays}></td>
					</tr>
					<tr>
						<th>产假天数</th><td><{$data.maternity_leave}></td>
						<th>事假天数</th><td><{$data.personal_leave}></td>
					</tr>
					<tr>
						<th>病假天数</th><td><{$data.sickdays}></td>
						<th>旷工天数</th><td><{$data.absenteeism}></td>
					</tr>
					<tr>
						<th>迟到/早退</th><td><{$data.late_leaveearly}></td>
						<th>未入职/离职</th><td><{$data.nonentry_quit}></td>
					</tr>
					<tr>
						<th>创建人</th><td><{$data.create_id|getAdminUser=1}></td>
						<th>修改人</th><td><{$data.update_id|getAdminUser=1}></td>
					</tr>
					<tr>
						<th>创建时间</th><td><{$data.create_time}></td>
						<th>修改时间</th><td><{$data.update_time}></td>
					</tr>
				</table>
				<!-- 表单 结束 -->
			</div>
			<!-- /section:custom/scrollbar -->
		</div>
	</div>
</div>

<!-- E -->
</block>

<block name="pnJs">

</block>