<extend name="Layout:index" />
<block name="pluginCss">
	<link rel="stylesheet" type="text/css" href="__COMPONENTS__chosen/chosen.min.css">
	<link rel="stylesheet" type="text/css" href="__COMPONENTS__bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
</block>
<block name="pCss">

</block>
<block name="content">
<!-- S -->

<div class="widget-container-col" id="widget-container-col-11">
	<div class="widget-box widget-color-blue2" id="widget-box-11">
		<div class="widget-header">
			<h6 class="widget-title">
				<i class="menu-icon fa fa-user-plus"></i>&ensp;<{$_page_title}>
			</h6>

			<div class="widget-toolbar">
				<a title="返回列表" href="#" onclick='location.href="<{:U('index')}>"' data-action="settings">
					<i class="ace-icon fa fa-reply"></i>
				</a>

				<a href="#" data-action="fullscreen" class="orange2">
					<i class="ace-icon fa fa-expand"></i>
				</a>
			</div>
		</div>

		<div class="widget-body">
			<!-- 表单 开始 -->
			<form class="form-horizontal" method="POST" role="form" action="__SELF__">
			<!-- 主体 S -->
			<div class="widget-main">
				<div class="row">
				<div class="col-xs-12 col-sm-6">

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-admin_id"> 用户名称 </label>
						<div class="col-sm-9">
							<select name="admin_id" id="field-admin_id" class="col-xs-10 col-sm-10 chosen-select" placeholder="用户名称">
								<foreach name="userData" item="vo">
									<option value="<{$vo.id}>" <?php $onAdminId = (isset($data['admin_id']) && $data['admin_id'])?$data['admin_id']:$onAdminId; echo $vo['id']==$onAdminId?'selected':'';?>><{$vo.nickname}></option>
								</foreach>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-thismonth"> 考勤月份 </label>
						<div class="col-sm-9">
							<div class="input-group col-xs-10 col-sm-10">
								<input class="form-control date-picker" value="<?php echo date('Y-m', (isset($data['thismonth']) && $data['thismonth']?strtotime($data['thismonth']):time()));?>" id="field-thismonth" name="thismonth" placeholder="考勤月份" type="text" data-date-format="dd-mm-yyyy">
								<span class="input-group-addon">
									<i class="fa fa-calendar bigger-110"></i>
								</span>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-paiddays"> 计薪天数 </label>
						<div class="col-sm-9">
							<input type="text" id="field-paiddays" name="paiddays" value="<{$data.paiddays|default='21.75'}>" placeholder="用户计薪天数" class="col-xs-10 col-sm-10" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-ycqts"> 出勤天数 </label>
						<div class="col-sm-9">
							<input type="text" id="field-ycqts" name="ycqts" value="<{$data.ycqts|default='0'}>" placeholder="用户出勤天数" class="col-xs-10 col-sm-10" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-holidays"> 节&ensp;假&ensp;日 </label>
						<div class="col-sm-9">
							<input type="text" id="field-holidays" name="holidays" value="<{$data.holidays|default='0'}>" placeholder="用户节假日" class="col-xs-10 col-sm-10" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-paid_holidays"> 带薪假期 </label>
						<div class="col-sm-9">
							<input type="text" id="field-paid_holidays" name="paid_holidays" value="<{$data.paid_holidays|default='0'}>" placeholder="用户带薪假期" class="col-xs-10 col-sm-10" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-maternity_leave"> 产假天数 </label>
						<div class="col-sm-9">
							<input type="text" id="field-maternity_leave" name="maternity_leave" value="<{$data.maternity_leave|default='0'}>" placeholder="用户产假天数" class="col-xs-10 col-sm-10" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-personal_leave"> 事假天数 </label>
						<div class="col-sm-9">
							<input type="text" id="field-personal_leave" name="personal_leave" value="<{$data.personal_leave|default='0'}>" placeholder="用户事假天数" class="col-xs-10 col-sm-10" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-sickdays"> 病假天数 </label>
						<div class="col-sm-9">
							<input type="text" id="field-sickdays" name="sickdays" value="<{$data.sickdays|default='0'}>" placeholder="用户病假天数" class="col-xs-10 col-sm-10" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-absenteeism"> 旷工天数 </label>
						<div class="col-sm-9">
							<input type="text" id="field-absenteeism" name="absenteeism" value="<{$data.absenteeism|default='0'}>" placeholder="用户旷工天数" class="col-xs-10 col-sm-10" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-late_leaveearly"> 迟到/早退 </label>
						<div class="col-sm-9">
							<input type="text" id="field-late_leaveearly" name="late_leaveearly" value="<{$data.late_leaveearly|default='0'}>" placeholder="用户扣迟到/早退折合天数" class="col-xs-10 col-sm-10" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-nonentry_quit"> 未入职/离职 </label>
						<div class="col-sm-9">
							<input type="text" id="field-nonentry_quit" name="nonentry_quit" value="<{$data.nonentry_quit|default='0'}>" placeholder="用户未入职/离职" class="col-xs-10 col-sm-10" />
						</div>
					</div>
				</div>
				</div>
			</div>
			<!-- 主体 E -->
			<notempty name="data.id"><input type="hidden" name="id" value="<{$data.id}>"></notempty>
			<!-- 底部 S -->
			<div class="widget-toolbox padding-8 clearfix">
				<div class="btn-group pull-left">
					<button type="submit" class="btn btn-sm btn-success btn-bold">
					<!-- <button type="submit" class="btn btn-sm btn-success btn-bold" data-toggle="button"> -->
						<i class="ace-icon fa fa-save"></i>
						保存
					</button> 
				</div>

				<div class="btn-group pull-right">
					<button type="reset" value="Reset" class="btn btn-sm btn-danger btn-bold">
						<i class="ace-icon fa fa-undo"></i>
						重置
					</button> 
				</div>
			</div>
			<!-- 底部 E -->
			</form>
			<!-- 表单 结束 -->
		</div>
	</div>
</div>

<!-- E -->
</block>

<block name="pnJs">
<script src="__COMPONENTS__chosen/chosen.jquery.js"></script>
<script src="__COMPONENTS__bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="__COMPONENTS__bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript">
	$(function($) {
        if(!ace.vars['touch']) {
			$('.chosen-select').chosen({allow_single_deselect:true}); 
			//resize the chosen on window resize
			$(window)
			.off('resize.chosen')
			.on('resize.chosen', function() {
				$('.chosen-select').each(function() {
					 var $this = $(this);console.log($this.next());p($this.parent().find('select'));
					 $this.next().css({'width': $this.parent().find('select').width()});
				})
			}).trigger('resize.chosen');
		}

		// 选择日期
		$('#field-thismonth').datepicker({
            format: 'yyyy-mm',
            autoclose: true,
            startView: 1, // 初始显示视图
            maxViewMode: 3,//视图选择范围
         	minViewMode:1,
            forceParse: false,
            todayBtn: 'linked',
            language: 'zh-CN'
        });
    });
</script>
</block>