<extend name="Layout:index" />
<block name="pCss">
<style type="text/css">
	.status span{cursor: pointer;}
	#widget-box-content #nav-search{
		display: inline-block;
		line-height: 3.8rem;
		right: 7.5rem;
	}
	#widget-box-content #nav-search .nav-search-icon{
		line-height: 3.6rem!important;
	}
	#nav-search .input-title{
		display: inline-block;
		background: #FFF;
	}
	#nav-search .input-select{
		width: auto;
		border-top-right-radius: 0!important;
		border-bottom-right-radius: 0!important;
	}
	#nav-search .input-icon .nav-search-input{
		border-top-left-radius: 0!important;
		border-bottom-left-radius: 0!important;
	}
	#nav-search .input-icon input.nav-search-input{
		padding-left: 0.6rem;
		padding-right: 2.4rem;
	}
	#nav-search .input-icon .ace-icon{
		left: auto;
		right: 0.5rem;
	}
</style>
</block>
<block name="content">
<!-- S -->

<div class="widget-container-col" id="widget-container-col-11">
	<div class="widget-box widget-color-blue2" id="widget-box-content">
		<div class="widget-header">
			<h6 class="widget-title">
				<i class="menu-icon fa fa-list"></i>&ensp;<{$_page_title}>

			</h6>
			<div class="nav-search" id="nav-search">
				<form class="form-search" action="__SELF__" method="GET">
					<select name="status" class="nav-search-input input-select" onchange="$('.form-search').submit();">
						<option value="全部" <eq name="_status" value="全部">selected</eq>>全部</option>
						<option value="1" <eq name="_status" value="1">selected</eq>>正常</option>
						<option value="0" <eq name="_status" value="0">selected</eq>>禁用</option>
					</select><span class="input-icon">
						<input type="text" name="keywords" value="<{$get.keywords}>" placeholder="收索" class="nav-search-input" id="nav-search-input" autocomplete="off">
						<i class="ace-icon fa fa-search nav-search-icon" onclick="$('.form-search').submit();"></i>
					</span>
				</form>
			</div>
			<div class="widget-toolbar">

				<a href="javascript:void(0);" class="href-url" title="新增" onclick='location.href="<{:U('add')}>"' data-action="settings">
					<i class="ace-icon fa fa-plus"></i>
				</a>

				<a href="#my-modal" class="href-url" title="导入" data-toggle="modal" data-action="settings">
					<i class="ace-icon fa fa-upload"></i>
				</a>

				<a href="#" data-action="fullscreen" class="orange2">
					<i class="ace-icon fa fa-expand"></i>
				</a>
			</div>
		</div>

		<div class="widget-body">
			<!-- #section:custom/scrollbar -->
			<div class="widget-main no-padding scrollable" data-size="125">
				<!-- 表单 开始 -->
				<table id="data-table" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th class="center detail-col">编号</th>
							<th class="center hidden-480">用户名称</th>
							<th class="center">用户昵称</th>
							<th class="center">手机号</th>
							<th class="center">邮箱</th>
							<th class="center hidden-320">状态</th>
							<th class="center hidden-320">操作</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="data" item="vo">
							<tr>
								<td class="center"><{$vo.adminno}></td>
								<td class="center"><a title="<{$vo.adminuser}>" href="<{:U('info',array('id'=>$vo['id']))}>"><{$vo.adminuser}></a></td>
								<td class="center"><a title="<{$vo.nickname}>" href="<{:U('info',array('id'=>$vo['id']))}>"><{$vo.nickname}></a></td>
								<td class="center"><{$vo.mobile}></td>
								<td class="center"><{$vo.email}></td>
								<td class="center status">
									<eq name="vo.status" value="1">
										<span class="label label-sm label-success" data-id="<{$vo.id}>">正常</span>
									<else/>
										<span class="label label-sm label-warning" data-id="<{$vo.id}>">禁用</span>
									</eq>
								</td>
								<td class="center">
									<div class="action-buttons">
										<a class="blue info" title="查看详情" href="<{:U('info',array('id'=>$vo['id']))}>">
											<i class="ace-icon fa fa-search-plus bigger-110"></i>
										</a>
										<a class="blue edit" title="修改" href="<{:U('edit',array('id'=>$vo['id']))}>">
											<i class="ace-icon fa fa-pencil bigger-110"></i>
										</a>
										<eq name="vo.id" value="1">
											&emsp;&emsp;
										<else />
											<a class="red del" title="删除" href="<{:U('del',array('id'=>$vo['id']))}>">
												<i class="ace-icon glyphicon glyphicon-remove bigger-110"></i>
											</a>
										</eq>
									</div>
								</td>
							</tr>
						</foreach>
					</tbody>
				</table>
				<!-- <table id="nodes-table"></table> -->
				<!-- 表单 结束 -->
			</div>
			<!-- /section:custom/scrollbar -->
			<div class="widget-toolbox padding-4 clearfix">
				<div class="pull-right"><div class="my-page"><{$page}></div></div>
			</div>
		</div>
	</div>
</div>

<!-- E -->
<!-- 弹窗 -->
<div id="my-modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="smaller lighter blue no-margin">导入用户数据</h3>
			</div>

			<div class="modal-body">
				
			</div>

			<div class="modal-footer">
				<button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>
					Close
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

</block>

<block name="pnJs">
<script type="text/javascript">
var _clickOne = true;
$('#data-table .status span').on('click',function(){
	var id = $(this).data('id');
	if (id && _clickOne) {
		_clickOne = false;
		$.ajax({
			url: "<{:U('setStatus')}>",
			type: 'POST',
			data: {"id": id},
			dataype: 'json',
			success: function(data) {
				window.location.reload();
			}
		});
	}
});
</script>
</block>