<extend name="Layout:index" />
<block name="pCss">
<style type="text/css">
	#my-table-tool .search-select{
		margin-bottom: 2px;
	}
	#my-table-tool .search-btn{
		margin-bottom: 3px;
		line-height: .9em;
	}
	#data-table .td-img{
		padding: 2px;
	}
	#data-table .cursor-pointer span{
		cursor: pointer;
	}
</style>

</block>
<block name="content">
<!-- S -->
<form class="form-horizontal form-search" role="form" method="get" action="__SELF__">
	<div class="my-table-tool" id="my-table-tool">
		<select name="fledname" class="nav-search-input input-select input-sm search-select" disabled="true">
			<option value="title">网站名称</option>
		</select>
		<input type="text" name="keyword" value="<{$Think.get.keyword|default=''}>" placeholder="请输入关键词" class="nav-search-input input-sm" id="nav-search-input" autocomplete="off"">
		<button type="submit" class="btn btn-inverse btn-white input-sm nav-search-input search-btn">
			<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
			搜索
		</button>
	</div>
	<div class="widget-container-col" id="widget-container-col-11">
		<div class="widget-box widget-color-blue2" id="widget-box-content">
			<div class="widget-body">
				<!-- #section:custom/scrollbar -->
				<div class="widget-main no-padding scrollable" data-size="125">
					<!-- 表单 开始 -->
					<table id="data-table" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th class="center detail-col">
									<label class="pos-rel">
										<input type="checkbox" class="ace">
										<span class="lbl"></span>
									</label>
								</th>
								<th class="center hidden-320">网站名称</th>
								<th class="center">网站图片</th>
								<th class="center">点击量</th>
								<th class="center">是否显示</th>
								<th class="center">修改人</th>
								<th class="center">创建人</th>
								<th class="center">添加时间</th>
								<th class="center hidden-320">操作</th>
							</tr>
						</thead>
						<tbody>
							<empty name="data">
								<tr>
									<td class="center" colspan ="100">
										没有相关数据！
									</td>
								</tr>
							<else /> 
							<foreach name="data" item="vo">
								<tr>
									<td class="center">
										<label class="pos-rel">
											<input type="checkbox" class="ace" value="<{$vo.id}>">
											<span class="lbl"></span>
										</label>
									</td>
									<td class="center">
										<a title="<{$vo.title}>" target="_blank" href="<{$vo.url|default='javascript:void(0);'}>"><{$vo.title|cutStr=20}></a>
									</td>
									<td class="center td-img"><?php echo showImage($vo['minimg'], 60, 45);?></td>
									<td class="center"><{$vo.clicknum}></td>
									<td class="center cursor-pointer">
										<span data-id="<{$vo.id}>" class="label label-sm status 
											<eq name="vo.status" value="1">label-success">显示<else/>label-grey">隐藏</eq>
										</span>
									</td>
									<td class="center"><{$vo.update_id|getAdminUser=1}></td>
									<td class="center"><{$vo.create_id|getAdminUser=1}></td>
									<td class="center"><{$vo.create_time}></td>
									<td class="center">
										<div class="action-buttons">
											<a class="blue info" title="查看详情" href="<{:U('info',array('id'=>$vo['id']))}>">
												<i class="ace-icon fa fa-search-plus bigger-110"></i>
											</a>
											<a class="blue edit" title="修改" href="<{:U('edit',array('id'=>$vo['id']))}>">
												<i class="ace-icon fa fa-pencil bigger-110"></i>
											</a>
											<a class="red del" title="删除" href="<{:U('del',array('id'=>$vo['id']))}>">
												<i class="ace-icon glyphicon glyphicon-remove bigger-110"></i>
											</a>
										</div>
									</td>
								</tr>
							</foreach>
							</empty>
						</tbody>
					</table>
					<!-- <table id="nodes-table"></table> -->
					<!-- 表单 结束 -->
				</div>
				<!-- /section:custom/scrollbar -->
				<div class="widget-toolbox padding-4 clearfix my-footer-tool">
					<div class="pull-left">
						<div class="btn-group">
							<button type="button" class="btn btn-white btn-sm btn-danger btn-bold alldel">
								<i class="ace-icon fa fa-trash-o bigger-120 orange"></i> 删除
							</button>
							<a href="<{:U('add')}>" class="btn btn-white btn-sm btn-primary btn-bold">
								<i class="ace-icon fa fa-plus bigger-120 blue"></i> 新增
							</a>
							<select name="pnum" class="btn btn-white btn-sm btn-primary btn-bold select-num" onchange="$('.form-search').submit();">
								<foreach name="Think.config.PAGE_LIST_NUM" item="vo">
									<option value="<{$vo}>" <?php echo I('get.pnum', getPaegNum())==$vo?'selected':''; ?>>每页显示 <{$vo}> 条</option>
								</foreach>
							</select>
						</div>
					</div>
					<div class="pull-right"><div class="my-page"><{$page}></div></div>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- E -->
</block>

<block name="pJs">
<script type="text/javascript">
    jQuery(function ($) {
        var active_class = 'active';
        $('#data-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
			var th_checked = this.checked;//checkbox inside "TH" table header
			
			$(this).closest('table').find('tbody > tr').each(function(){
				var row = this;
				if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
				else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
			});
		});
		
		//select/deselect a row when the checkbox is checked/unchecked
		$('#data-table').on('click', 'td input[type=checkbox]' , function(){
			var $row = $(this).closest('tr');
			if($row.is('.detail-row ')) return;
			if(this.checked) $row.addClass(active_class);
			else $row.removeClass(active_class);
		});

		// 批量删除
		$('.my-footer-tool').on('click', '.alldel', function() {
			// 获取已选择的数据
			var inputs = $('td input[type=checkbox]:checked');
			if (inputs.length && confirm('确定删除已选择的数据？')) {
				var ids = new Array();
				inputs.each(function(i,k) {
					ids[i] = k.value;
				});
				ids = ids.join(',');
				// 将数据传到后台处理
				$.ajax({
					url: "<{:U('del',array('type'=>'alldel'))}>",
					type: 'GET',
					data: {"id": ids},
					dataype: 'json',
					success: function(data) {
						if (data.status == 0) {
							alert(data.info);
						}
						window.location.reload();
					}
				});
			}
		});
		// 设置对应的状态
		$('#data-table .cursor-pointer span.status').on('click',function(){
			var id = $(this).data('id');
			if (id) {
				$.ajax({
					url: "<{:U('setStatus')}>",
					type: 'POST',
					data: {"id": id},
					dataype: 'json',
					success: function(data) {
						window.location.reload();
					}
				});
			}
		});


		$("#gritter-remove").on(ace.click_event, function(){
			$.gritter.removeAll();
			return false;
		});
    });
</script>
</block>