<extend name="Layout:index" />
<block name="pCss">
<link rel="stylesheet" href="__COMPONENTS__bootstrap-table/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="__COMPONENTS__bootstrap-table/dist/extensions/tree-column/bootstrap-table-tree-column.css">
<style type="text/css">
	.status span{cursor: pointer;}
</style>
</block>
<block name="content">
<!-- S -->

<div class="widget-container-col" id="widget-container-col-11">
	<div class="widget-box widget-color-blue2" id="widget-box-11">
		<div class="widget-header">
			<h6 class="widget-title">
				<i class="menu-icon fa fa-list"></i>&ensp;<{$_page_title}>
			</h6>

			<div class="widget-toolbar">
				<a href="javascript:void(0);" class="href-url" title="新增<{$nodes[$onType]}>" onclick='location.href="<{:U('add')}>"' data-action="settings">
					<i class="ace-icon fa fa-plus"></i>
				</a>

				<a href="#" data-action="fullscreen" class="orange2">
					<i class="ace-icon fa fa-expand"></i>
				</a>
			</div>
		</div>

		<div class="widget-body">
			<!-- #section:custom/scrollbar -->
			<div class="widget-main no-padding scrollable" data-size="125">
				<!-- 表单 开始 -->
				<table id="data-table" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th class="center hidden-320">编号</th>
							<th class="center hidden-320">部门名称</th>
							<th class="center">部门描述</th>
							<th class="center">排序</th>
							<th class="center hidden-320">操作</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="data" item="vo">
							<tr>
								<td class="center"><{$vo.groupno}></td>
								<td><?php echo str_repeat('&ensp;', ($vo['level']-1) * 3); ?>|__ <{$vo.groupname}></td>
								<td class="center"><{$vo.remark}></td>
								<td class="center"><{$vo.sort}></td>
								<td class="center">
									<div class="action-buttons">
										<a class="blue edit" title="修改" href="<{:U('edit',array('id'=>$vo['id']))}>">
											<i class="ace-icon fa fa-pencil bigger-110"></i>
										</a>
										<a class="red del" title="删除" href="<{:U('del',array('id'=>$vo['id']))}>">
											<i class="ace-icon glyphicon glyphicon-remove bigger-110"></i>
										</a>
									</div>
								</td>
							</tr>
						</foreach>
					</tbody>
				</table>
				<!-- <table id="nodes-table"></table> -->
				<!-- 表单 结束 -->
			</div>
			<!-- /section:custom/scrollbar -->
		</div>
	</div>
</div>

<!-- E -->
</block>

<block name="pnJs">
<!-- Latest compiled and minified JavaScript -->
<script src="__COMPONENTS__bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="__COMPONENTS__bootstrap-table/dist/extensions/tree-column/bootstrap-table-tree-column.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="__COMPONENTS__bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
</block>