<extend name="Layout:index" />
<block name="pCss">
<link rel="stylesheet" href="__COMPONENTS__bootstrap-table/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="__COMPONENTS__bootstrap-table/dist/extensions/tree-column/bootstrap-table-tree-column.css">
</block>
<block name="content">
<!-- S -->

<div class="widget-container-col" id="widget-container-col-11">
	<div class="widget-box widget-color-blue2" id="widget-box-11">
		<div class="widget-header">
			<h6 class="widget-title">
				<i class="menu-icon fa fa-user-plus"></i>&ensp;<{$_page_title}>
			</h6>

			<div class="widget-toolbar">
				<a title="返回列表" href="#" onclick='location.href="<{:U('index')}>"' data-action="settings">
					<i class="ace-icon fa fa-reply"></i>
				</a>

				<a href="#" data-action="fullscreen" class="orange2">
					<i class="ace-icon fa fa-expand"></i>
				</a>
			</div>
		</div>

		<div class="widget-body">
			<!-- 表单 开始 -->
			<form class="form-horizontal" method="POST" role="form" action="__SELF__">
			<!-- 主体 S -->
			<div class="widget-main">
				<div class="row">
				<div class="col-xs-12 col-sm-6">

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-pid"> 上级分类 </label>
						<div class="col-sm-9">
							<select name="pid" id="field-pid" class="col-xs-10 col-sm-10" placeholder="上级分类">
								<option value="0">顶级分类</option>
								<foreach name="parentData" item="vo">
									<notin name="vo.id" value="$childrenData">
										<option value="<{$vo.id}>" <eq name="vo.id" value="$data.pid">selected</eq>>
											<?php echo str_repeat('&ensp;', ($vo['level']-1) * 3); ?>|__ <{$vo.catename}>
										</option>
									</notin>
								</foreach>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-catename"> 分类名称 </label>
						<div class="col-sm-9">
							<input type="text" id="field-catename" name="catename" value="<{$data.catename|default=''}>" placeholder="分类名称" class="col-xs-10 col-sm-10" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-sort"> 分类排序 </label>
						<div class="col-sm-9">
							<input type="text" id="field-sort" name="sort" value="<{$data.sort|default='1'}>" placeholder="分类排序" class="col-xs-10 col-sm-10" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-keywords"> 关&ensp;键&ensp;词 </label>
						<div class="col-sm-9">
							<input type="text" id="field-keywords" name="keywords" value="<{$data.keywords|default=''}>" placeholder="关键词" class="col-xs-10 col-sm-10" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-description"> 分类描述 </label>
						<div class="col-sm-9">
							<textarea id="field-description" name="description" placeholder="分类描述" class="col-xs-10 col-sm-10"><{$data.description|default=''}></textarea>
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="field-status"> 分类状态 </label>
						<div class="col-sm-9">
							<input name="status" value="1" id="field-status" 
								<eq name="data.status|default='0'" value="1">checked</eq> class="ace ace-switch ace-switch-7" type="checkbox" />
								<span class="lbl"></span>
						</div>
					</div>
					
				</div>
				</div>
			</div>
			<!-- 主体 E -->

			<!-- 底部 S -->
			<div class="widget-toolbox padding-8 clearfix">
				<div class="btn-group pull-left">
					<button type="submit" class="btn btn-sm btn-success btn-bold">
					<!-- <button type="submit" class="btn btn-sm btn-success btn-bold" data-toggle="button"> -->
						<i class="ace-icon fa fa-save"></i>
						保存
					</button> 
				</div>

				<div class="btn-group pull-right">
					<button type="reset" value="Reset" class="btn btn-sm btn-danger btn-bold">
						<i class="ace-icon fa fa-undo"></i>
						重置
					</button> 
				</div>
			</div>
			<!-- 底部 E -->
			<notempty name="data.id"><input type="hidden" name="id" value="<{$data.id}>"></notempty>
			</form>
			<!-- 表单 结束 -->
		</div>
	</div>
</div>

<!-- E -->
</block>

<block name="pnJs">
<!-- Latest compiled and minified JavaScript -->
<script src="__COMPONENTS__bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="__COMPONENTS__bootstrap-table/dist/extensions/tree-column/bootstrap-table-tree-column.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="__COMPONENTS__bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
	$(function() {
        
    });
</script>
</block>